<h1>Creature Profile Page</h1>

<h2><%= @animal[:title] %></h2>

<li>
	<ul><%= @animal[:descr] %></ul>
	<ul><%= @animal[:dob] %></ul>
</li>


	<button><a href="animals/<%= @id %>/edit">Update</a></button>


	<form action="/animals/<%= @id %>" method="POST">
			<input type="hidden" name="_method" value="DELETE">
			<input type="submit" value="DELETE">
	</form>
